*.gem
*.rbc
.bundle
.config
.beads
.devbox
.env
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
devbox.lock
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
vendor/
.tags*
